@import url("https://fonts.googleapis.com/css?family=Montserrat");
/*Titulos Cuadro*/
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
/*General*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
/*Nombre y Laboral*/
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");

/*General*/
* {
  outline: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 0.5s;
  background: rgb(11, 12, 20);
  cursor: default;

  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  width: 100%;
}

@media (min-width: 480px) {
    .cvPequeño {
      display: none;
    }
    .footer {
      display: none;
    }
    .cv {
      display: flex;
    }
  }
  
  @media (max-width: 480px) {
    .cvPequeño {
      display: contents;
    }
    .footer {
      display: block;
    }
    .cv {
      display: none;
    }
  }

/*
HEADER
*/
.header {
  text-align: center;
  width: 100%;
  height: auto;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
  border-radius: 0 0 50% 50% / 30%;
}
.header .overlay {
  width: 100%;
  height: 100%;
  padding: 50px;
  color: #fff;
  text-shadow: 1px 1px 1px #e1e0e0;

  background-image: linear-gradient(
    135deg,
    rgb(49, 12, 115) 10%,
    rgb(128, 108, 189) 100%
  );
}

.header .overlay .perfilPequeño .imgLogoPequeño {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .overlay .perfilPequeño .fa-laptop-code {
  font-size: 80px;
  text-align: center;
  margin: auto;
  color: rgb(49, 12, 115);
}

.header .overlay .namePequeño {
  margin-top: 10px;
  font-family: "Berkshire Swash", cursive;
  margin-bottom: 0;
  color: rgb(255, 255, 255);
}

/*FIN HEADER*/

.cvPequeño {
  background: rgb(11, 12, 20);
  color: #c2d1f9;
  position: relative;
}

/*Educacion TrabajoPequeño*/

.timeline-item-Pequeño {
  padding: 2.5em 2em 1em;
  position: relative;
  border-left: 2px solid rgba(255, 255, 255, 0.3);
}

.timeline-item-Pequeño:hover span {
  color: rgb(128 108 189);
}

.timeline-item-Pequeño small {
  display: block;
  opacity: 0.7;
}
.timeline-item-Pequeño span {
  transition-duration: 0.3s;
}

.timeline-item-Pequeño::before {
  content: attr(date-is);
  position: absolute;
  left: 2em;
  font-weight: bold;
  top: 1em;
  display: block;
  font-weight: 700;
  font-size: 0.9rem;
  font-family: "Berkshire Swash", cursive;
}
.timeline-item-Pequeño::after {
  width: 10px;
  height: 10px;
  display: block;
  top: 1em;
  position: absolute;
  left: -7px;
  border-radius: 10px;
  content: "";
  border: 2px solid rgba(0, 0, 0, 0.3);
  background: white;
}
.timeline-item-Pequeño:last-child {
  -o-border-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.3) 60%,
      rgba(255, 255, 255, 0)
    )
    1 100%;
  border-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.3) 60%,
      rgba(255, 255, 255, 0)
    )
    1 100%;
}

.timeline-item-Pequeño:first-child {
  -o-border-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 0.3) 60%,
      rgba(255, 255, 255, 0)
    )
    1 100%;
  border-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 0.3) 60%,
      rgba(255, 255, 255, 0)
    )
    1 100%;
}

/*Educación - TrabajoPequeño*/

.cvPequeño .descripcionProfesionalPequeño {
  width: 100%;
  padding: 30px;
}

.cvPequeño .descripcionProfesionalPequeño:hover > div {
  transition-duration: 0.5s;
}

.cvPequeño .descripcionProfesionalPequeño:hover > div:hover h3 i {
  transform: rotate(360deg) scale(1.25);
}

.cvPequeño .descripcionProfesionalPequeño:hover > div:not(:hover) {
  opacity: 0.5;
}

.cvPequeño .descripcionProfesionalPequeño h3 {
  margin-top: 0;
  font-family: "Satisfy", cursive;
  font-size: xx-large;
}

.cvPequeño .descripcionProfesionalPequeño h3 i {
  color: #131720;
  background: rgb(128 108 189);
  width: 42px;
  height: 42px;
  font-size: 20px;
  line-height: 42px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  margin-right: 8px;
  transition-duration: 0.3s;
}

.cvPequeño .descripcionProfesionalPequeño .trabajoPequeño,
.cvPequeño .descripcionProfesionalPequeño .educacionPequeño,
.cvPequeño .descripcionProfesionalPequeño .habilidadesPequeño,
.cvPequeño .descripcionProfesionalPequeño .extrasPequeño {
  width: 100%;
  border: 1px solid white;
  border-radius: 20px;
  padding: 15px;
  margin: 0 4% 15px 0;
  background: rgb(27, 27, 35);
}

h3 {
  color: rgb(128 108 189);
  margin: 10px 0;
  font-size: 1.25em;
  font-family: "Satisfy", cursive;
  font-size: x-large;
}

/*Skill*/
.cvPequeño .descripcionProfesionalPequeño .habilidadesPequeño {
  clear: both;
  background: rgb(27, 27, 35);
  padding: 15px;
  border-radius: 15px;
  border: 1px solid white;
}

.cvPequeño .descripcionProfesionalPequeño .habilidadesPequeño ul {
  margin-left: 15px;
}

.cvPequeño .descripcionProfesionalPequeño .habilidadesPequeño ul li {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  transition-duration: 0.3s;
}

.cvPequeño .descripcionProfesionalPequeño .habilidadesPequeño ul li span {
  display: block;
  width: 120px;
}

.cvPequeño
  .descripcionProfesionalPequeño
  .habilidadesPequeño
  ul
  li
  .barraSkill {
  background: #ffffff;
  height: 2px;
  width: calc(100% - 120px);
  position: relative;
  border-radius: 2px;
}

.cvPequeño
  .descripcionProfesionalPequeño
  .habilidadesPequeño
  ul
  li
  .barraSkill
  .barraPequeño {
  position: absolute;
  top: -1px;
  height: 4px;
  background: rgb(128 108 189);
  box-shadow: 0 0 0 rgb(128 108 189);
  border-radius: 5px;
}

/*Habilidades*/

.cvPequeño .habilidadesPequeño .tituloHabilidadPequeño {
  color: #c2d1f9;
  margin: 0 0 20px;
}

.cvPequeño .habilidadesPequeño .tituloHabilidadPequeño:hover {
  color: rgb(128 108 189);
}

.progress {
  height: 2px;
  background: rgb(255, 255, 255);
  box-shadow: none;
  margin-bottom: 30px;
  overflow: visible;
}

.progress .progress-bar {
  position: relative;
}

.progress .progress-value {
  display: block;
  font-size: 18px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  position: absolute;
  top: -30px;
  right: -25px;
}

.progress .progress-bar:after {
  content: "";
  display: inline-block;
  width: 10px;
  background: #fff;
  position: absolute;
  top: -10px;
  bottom: -10px;
  right: -5px;
  z-index: 1;
  transform: rotate(35deg);
}
.barraPequeño .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #806cbd;
  color: #fff;
  text-align: center;
  border-radius: 15px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 1s;
}

.barraPequeño .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #806cbd transparent transparent transparent;
}

.checkedPequeño {
  color: rgb(128, 108, 189);
}

.barraPequeño:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/*extras*/

.cvPequeño .descripcionProfesionalPequeño .extrasPequeño {
  border: 1px solid white;
  border-radius: 20px;
  margin: 15px 0 0;
  padding: 15px;
  background: rgb(27, 27, 35);
}

.cvPequeño .descripcionProfesionalPequeño .extrasPequeño-items {
  box-sizing: border-box;
  padding: 0 0 15px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.cvPequeño .descripcionProfesionalPequeño .extrasPequeño-items div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.cvPequeño .descripcionProfesionalPequeño .extrasPequeño-items div:hover i {
  transform: scale(1.2);
}

.cvPequeño .descripcionProfesionalPequeño .extrasPequeño-items div:hover span {
  color: rgb(128 108 189);
  transition-duration: 0.3s;
}

.cvPequeño .descripcionProfesionalPequeño .extrasPequeño-items div i {
  font-size: 45px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  color: rgb(128 108 189);
  transition-duration: 0.3s;
}

.cvPequeño .descripcionProfesionalPequeño .extrasPequeño-items div span {
  display: block;
}

/*Footer*/

.footer {
  height: fit-content;
  margin-bottom: 2%;
  border-radius: 50% 50% 0% 0% / 30%;
  background: linear-gradient(
    135deg,
    rgb(49, 12, 115) 10%,
    rgb(128, 108, 189) 100%
  );
}

/*RRSS*/
.footer .RRSS .contenedorRRSS {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  grid-template-columns: repeat(6, 1fr);
  padding: 1% 25%;
}

.footer h3 {
  padding: 25px 25px 5px;
  margin: 0;
  font-size: x-large;
  color: white;
  font-family: "Berkshire Swash", cursive;
}
.footer .RRSS .contenedorRRSS .elemento {
  text-align: center;
  vertical-align: middle;
}

.footer .RRSS .contenedorRRSS .elemento a {
  display: inline-block;
  vertical-align: text-bottom;
}


.footer .RRSS .contenedorRRSS .elemento i {
  display: inline-block;
  font-size: 20px;
  background: rgb(11, 12, 20);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 40px;
  color: #c2d1f9;
  margin: 0 10px 10px 10px;
  transition-duration: 0.3s;
  box-shadow: 3px 9px 16px rgba(102, 102, 102, 0.4),
    -3px -3px 10px rgba(158, 158, 158, 0.06),
    inset 14px 14px 26px rgba(255, 255, 255, 0.3),
    inset -3px -3px 15px rgba(255, 255, 255, 0.05);
}

.footer .RRSS .contenedorRRSS .elemento i::before {
  transition-duration: 0.3s;
}

.footer .RRSS .contenedorRRSS .elemento i.fa::before {
  display: block;
}

a {
  text-decoration: none;
  color: #ffffff;
  display: block;
  transition-duration: 0.3s;
}

@media (max-width: 400px) {
  .footer .RRSS .contenedorRRSS {
    grid-template-columns: repeat(3, 1fr);
  }
  .cvPequeño .descripcionProfesionalPequeño {
    padding: 15px;
  }
}

@media (max-width: 300px) {
  .timeline-item-Pequeño::before {
    font-size: 0.8rem;
  }
  .cvPequeño .descripcionProfesionalPequeño h3 {
    font-size: x-large;
  }
  .cvPequeño .descripcionProfesionalPequeño span {
    font-size: 14px;
  }
  .cvPequeño .extrasPequeño ul {
    padding-left: 2% !important;
  }
}

/* 

@media (max-width: 830px) {
  .cvPequeño .descripcionProfesionalPequeño .RRSS .contenedorRRSS {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 570px) {
  
  small {
    font-size: 10px;
  }
  .cvPequeño .descripcionProfesionalPequeño .RRSS .contenedorRRSS {
    grid-template-columns: repeat(2, 1fr);
  }
  .cvPequeño .descripcionProfesionalPequeño .RRSS .contenedorRRSS .elemento i {
    font-size: 20px;
    height: 40px;
    width: 40px;
    line-height: 40px;
  }
}

@media (max-width: 480px) {
  
  div li,
  span {
    font-size: 13px;
  }
  .fa-paw {
    font-size: 14px;
  }

  .cvPequeño .descripcionProfesionalPequeño .RRSS .contenedorRRSS {
    grid-column-gap: 0.2rem;
    grid-row-gap: 0.2rem;
  }
}
 */
